/* --------- base --------- */

html {
	width:100%;
	height:100%;
}

body {
	width:100%;
	height:100%;
	font-family: open_sansregular;
	font-size: 14px;

}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
	outline: none;
	border: none;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		left: 0;
		list-style: none outside none;
	}
}

p {
	padding: 0;
	margin: 0;
}

/* --------- adjustment --------- */



.clearfix{@include clearfix};
$container-width    : 1170px;
$footer-height      : 150px;

.container {
	width: $container-width;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	min-width: $container-width + 135;

	&:after {
		content: "";
		display: block;
		position: relative;
		height: $footer-height;
	}

}

footer {
	position: relative;
	margin-top: -$footer-height;
	height: $footer-height;
	min-width: $container-width + 20;
}

.btn{
	width:150px;
	height: 50px;
	color: white;
	font-size: 16px;
	line-height: 18px;
	border: 1px solid #fff;
	background-color: transparent;
}