extends ../layouts/main_layout

block title
	title Main Page | Elegant

block content
	.wrapper
		include ../common/header
		.container
			include ../common/about
		include ../common/work
		.container
			include ../common/team
			include ../common/blog
			include ../common/contact