- var pageId = 3
extends ../layouts/main_layout

block title
	title Our work | Elegant

block content
	header.header.header__work
		include ../common/_navbar.jade
	.container 
		.work
			p.title__question
				| Our Amazing Work
			h2.title
				| What We Do
			p.content-text
				| Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc, fiant sollemnes in futurum.
	.work--gellary
			- for (var i = 1; i <= 8; i++)
				.work--gellary--img
					img(src="/img/work__img__#{i}.png")