.blog
    p.title__question
        | Last Post
    h2.title
        | We Like to Write
    .blog--inner
        .blog--photo
            img(src="/img/blog--post__photo.jpg" alt="Change Your Space")
        .blog--post
            .blog--post__date 14 September 2014
            .blog--post__title Change Your Space
            .blog--post__text
                | Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores.
            button.blog--post__btn.btn Read
    button.blog--btn.btn More From Our Blog


