.contact
    p.title__question
        | Contact Us
    h2.title
        | Work With Us
    .contact--map
        img(src="/img/contact__map.jpg" alt="Map")
    .contact--list
        .contact--list__item
            .contact--list__title Location
            .contact--list__content 198 West 21th Street, New York, NY 10010
        .contact--list__item
            .contact--list__title Phone
            .contact--list__content
                a(href="tel:+88 (0) 101 0000000").contact--list__link +88 (0) 101 0000000
                a(href="tel:+88 (0) 101 0000000").contact--list__link +88 (0) 101 0000000
        .contact--list__item
            .contact--list__title Fax
            .contact--list__content
                a(href="tel:+88 (0) 201 0000000").contact--list__link +88 (0) 201 0000000
                a(href="tel:+88 (0) 201 0000000").contact--list__link +88 (0) 201 0000000
        .contact--list__item
            .contact--list__title Email
            .contact--list__content
                a(href="mailto:elegant@elegant.com").contact--list__link elegant@elegant.com
                a(href="mailto:commercial@elegant.com").contact--list__link commercial@elegant.com