footer.footer
    .container
        .footer--copyright
            | &copy;	 2014 Designed and Developed by Diogo Dantas
        .footer--contact
            a(href="mailto:imdiogodantas@gmail.com").footer--link Email: imdiogodantas@gmail.com