header.header
    .logo
        a(href="index.html").logo--link
    nav.navbar
        .navbar--menu#menu Menu
            a(href="#menu").navbar--menu__link
                span.navbar--menu__toggle
        ul.navbar--list
            - var menuItem = {'index': "Home", 'about': "About", 'work': "Work", 'blog': "Blog", 'contact': "Contact"}
            each key, val in menuItem
                li.navbar--item
                    a(href="#{key}.html") #{val}
    h1.header--title
        | Say <i>Haloa</i> to your Portfolio