.header__blog{
    height: 399px;
    background: #fff url(../../img/bg__header__blog.jpg) no-repeat;
}
.blog-page{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 64px 70px 64px 63px;

}
.nav-blog{
    width: 297px;
}
.nav-blog--title{
    padding-bottom: 15px;
    margin-bottom: 37px;
    display: block;
    width: 100%;
    border-bottom: 3px solid #d3b000;
    line-height: 32px;
    opacity: 0.7;
    color: #021725;
    font-size: 23px;
    font-weight: 300;
}
.nav-blog--list{
    margin: 0 0 56px 0;
    padding: 0;
    list-style-type: none;
}
.nav-blog--link{
    color: #021725;
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
}
.nav-blog--link:hover,
.nav-blog--link:active{
    text-decoration: underline;
}

.post{
    width: 666px;
}
.post--item{
    background-color: #fff;
    padding: 32px;
    margin-bottom: 57px;
}
.post--img{
    width: 600px;
    height: 400px;
    margin-bottom: 33px;
}
.post--title{
    margin-bottom: 29px;
    color: black;
    font-size: 30px;
    font-weight: 300;
}
.post--date{
    margin-bottom: 33px;
    color: #d3b000;
    font-size: 15px;
    font-weight: 300;
}
.post--text{
    margin-bottom: 67px;
    opacity: 0.7;
    color: #021725;
    font-weight: 400;
    line-height: 25px;
}
.btn--blog{
    margin:auto;
}

@media all and (max-width: 750px){
    .header__blog{
        background: none;
        height: 113px;
        margin-bottom: 68px
    }
    .blog-page{
        padding-left: 38px;
        padding-right: 38px;
        flex-direction: column-reverse;
        background-color: inherit;
    }
    .btn--blog{
        order: -1;
        margin-bottom: 60px;
    }
    .btn--blog:before{
        content:"";
        width: 100%;
        position: absolute;
        height: 400px
    }
    .post{
        margin: auto;
        width: 100%; 
        background-color: #fcfcfc;  
    }
    .post--item{
        padding: 30px 57px 60px 60px;
        margin-bottom: 120px;
    }
    .post--item:last-child{
        margin-bottom: 0
    }
    .post--img{
        width: 556px;
        height: 371px;
        margin-bottom: 61px
    }
    .post--title{
        font-size: 56px;
        line-height: 94px;
        margin-bottom: 57px
    }
    .post--date{
        font-size: 27px;
        margin-bottom: 62px
    }
    .post--text{
        font-size: 27px;
        line-height: 61px;
        margin-bottom: 126px
    }
    .btn--post{
        width: 360px;
        height: 91px;
    }
    .nav-blog{
        width: auto;
        padding: 185px 59px 60px;
        background-color: #f9f9f9;
        position: relative;
    }
    .nav-blog--title{
        font-size: 43px;
        line-height: 60px;
        margin-bottom: 69px;
        border-bottom: 3px solid #d3b000 ;
    }
    .nav-blog--link{
        font-size: 30px;
        line-height: 60px;
    }
    .nav-blog--list{
        margin-bottom: 106px
    }
    .blog--gellary--img{
        width: 555px;
        height: 559px;
    }
}