.contact{
  padding: $padding-block;
  text-align: center;
}
.contact--map{
  width: 767px;
  height: 295px;
}
.contact--list{
  background-color: #f9f9f9;
  font-size: 0;
}
.contact--list__item{
  padding-top: 56px;
  font-size: 18px;
  color: #505d68;
  display: inline-block;
  vertical-align: top;
  width: 383px;
}
.contact--list__title{
  padding: 0 20px 49px 20px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.contact--list__content{
  padding: 0 76px;
  margin-bottom: 46px;
  line-height: 34px;
}
.contact--list__link{
  display: block;
  color: #505d68;
  text-decoration: none;
}