.footer{
  background-color: #eee;
  padding: 42px 0 35px;
  color: #505d68;
  font-size: 0;
  font-weight: 300;
}
.footer--link{
  color: #505d68;
  text-decoration: none;
}
.footer--contact,
.footer--copyright{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
}
.footer--contact{
  text-align: right;
}