.header{
  height: 699px;
  background: url("../../img/bg__header.jpg") no-repeat;
  background-size: cover;
}
.logo--link{
  margin: 16px 48px;
  float: left;
  display: block;
  width: 190px;
  height: 42px;
  background:  url(../../img/logo.png) 0 0 no-repeat;
  background-size: cover;
}
.navbar {
  float: right;
}
.navbar--menu {
  margin: 48px 31px 20px 20px;
  padding-right: 22px;
  position: relative;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar--menu__link{
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  width: 18px;
  height: 12px;
  position: relative;
}
.navbar--menu__toggle {
  position: absolute;
  width: 18px;
  height: 2px;
  top: 9px;
  right: 0;
  background-color: #fff;
}
.navbar--menu__toggle:before,
.navbar--menu__toggle:after{
  content: '';
  @extend .navbar--menu__toggle
}
.navbar--menu__toggle:before{
  top: -5px;
}
.navbar--menu__toggle:after{
  top: 5px;
}
.navbar--list{
  display: none;
}
.header--title{
  margin: 0;
  text-align: center;
  padding: 303px 48px 50px;
  color: white;
  font-size: 80px;
  font-weight: 300;
}
.header--title i{
  font-style: italic;
  font-family: OpenSansLight;
}