.logo--link{
  margin: 16px 48px;
  float: left;
  display: block;
  width: 190px;
  height: 42px;
  background:  url(../../img/logo.png) 0 0 no-repeat;
}
.navbar {
  float: right;
  padding: 31px 48px 0 0;
}
.navbar--menu {
  position: relative;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
}
.navbar--menu__link{
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  width: 18px;
  height: 12px;
}
.navbar--menu__toggle {
  position: relative;
  display: block;
  width: 18px;
  height: 2px;
  top: 7px;
  right: 0;
  background-color: #fff;
}
.navbar--menu__toggle:before,
.navbar--menu__toggle:after{
  content: '';
  @extend .navbar--menu__toggle
}
.navbar--menu__toggle:before{
  top: -5px;
}
.navbar--menu__toggle:after{
  top: 3px;
}
.navbar--list{
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  width: 200px;
  padding: 0;
  background: rgba(255,255,255,0.7);
  list-style-type:none;
}
.navbar--list:before{
  content: '';
  position: absolute;
  top: -30px;
  left: 90px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: rgba(255,255,255,0.7);
}
.navbar--link{
  text-align: center;
  padding: 17px;
  display: block;
  text-decoration: none;
  color: #021725;
  font-size: 16px;
  font-weight:700;
  text-transform: uppercase;
  border-bottom:2px solid transparent;
}
.navbar--link:hover {}
.header--title{
  margin: 0;
  text-align: center;
  padding: 303px 48px 50px;
  color: white;
  font-size: 80px;
  font-weight: 300;
}


@media all and (max-width: 750px){
  .header--nav{
    height: 113px;
    background-color: rgba(36, 47, 53, 0.7);
  }
  .logo--link{
    width: 366px;
    height: 81px;
    background-size: cover;
  }
  .navbar{
    height: 82px;
    background-color: rgba(36, 47, 53, 0.9);
    font-size: 0;
    width: 87px;
  }
  .navbar--menu{
    font-size: 0;
  }
  .navbar--menu__toggle {
    position: relative;
    display: block;
    width: 35px;
    height: 5px;
    top: 16px;
    right: 26px;
    background-color: #fff;
  }
  .navbar--menu__toggle:before,
  .navbar--menu__toggle:after{
    content: '';
    position: relative;
    display: block;
    width: 35px;
    height: 5px;
    right: 0;
    background-color: #fff;
  }
  .navbar--menu__toggle:before{
    top: -10px;
  }
  .navbar--menu__toggle:after{
    top: 5px;
  }
  .navbar--list{
    width: 750px;
    right: 0;
    top: 113px;
    background-color: rgba(36, 47, 53,1);
    z-index: 999;
  }
  .navbar--list:before{
    display: none
  }
  .navbar--link{
    color: #fff;
    font-size: 30px;
  }
  .navbar--link:hover{
    border-color: #fff;
  }
}